<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Baseball Stats</title>
   <link rel="stylesheet" href="/css/style-form.css">
</head>
<body>
   <header>
      <h1>Baseball</h1>
      <nav>
         <a href="/user/login">Log In</a>
         <a href="/user/signup">Sign Up</a>
      </nav>
   </header>

   <main>
      {{{ body }}}
   </main>
   
</body>
</html>