<div class="batting-roster-wrapper">
   <div class="batting-roster-form-wrapper">
      <form class="batting-roster-form">
         <label>
            At Bats
            <input name="filter-btn" type="radio" value="at_bats">
         </label>
         <label>
            Hits
            <input name="filter-btn" type="radio" value="hits">
         </label>
         <label>
            Batting Average
            <input name="filter-btn" type="radio" value="batting_average">
         </label>
         <button type="submit" class="submit-btn btn btn-primary">Filter</button>
      </form>
   </div>
   <div class="listing-players">
      <ul class="list-group">
      </ul>
   </div>

   <div class="added-player">
      <ul class="list-group player-order">
         <h3 class="player-order-title">Current Roster: </h3>
      </ul>
   </div>
</div>


<script src="/javascript/battingRoster.js"></script>
<script src="/javascript/addingPlayerInRoster.js"></script>