<div class="batting-roster-wrapper">
   <div class="batting-roster-form-wrapper">
      <form class="batting-roster-form">
         <label>
            At Bats
            <input name="filter-btn" type="radio" value="at_bats">
         </label>
         <label>
            Hits
            <input name="filter-btn" type="radio" value="hits">
         </label>
         <label>
            Batting Average
            <input name="filter-btn" type="radio" value="batting_average">
         </label>
         <button type="submit" class="submit-btn btn btn-primary">Filter</button>
      </form>
   </div>
   <div class="listing-players">
      <ul class="list-group">
         <li class="list-group-item">Anthony Dcosta: AB: 10 | H: 2 | BA: 0.20</li>
         <li class="list-group-item">Anthony Dcosta: AB: 10 | H: 2 | BA: 0.20</li>
         <li class="list-group-item">Anthony Dcosta: AB: 10 | H: 2 | BA: 0.20</li>
         <li class="list-group-item">Anthony Dcosta: AB: 10 | H: 2 | BA: 0.20</li>
      </ul>
   </div>
</div>