<h1 class="create-player-title">Create a New Player</h1>

<form class="create-player-form">
  <div class="row basic-info">
    <div class="col col-lg-4">
      <input type="text" class="form-control" placeholder="First name">
    </div>
    <div class="col col-lg-4">
      <input type="text" class="form-control" placeholder="Last name">
    </div>
  </div>
  <div class="row basic-info">
      <select class="custom-select mr-sm-2 col col-lg-4" id="inlineFormCustomSelect">
         <option selected>Position...</option>
         <option value="C">Catcher</option>
         <option value="1B">1st Base</option>
         <option value="2B">2nd Base</option>
         <option value="3B">3rd Base</option>
         <option value="SS">Short Stop</option>
         <option value="CF">Center Field</option>
         <option value="RF">Right Field</option>
         <option value="LF">Left Field</option>
         <option value="P">Pitcher</option>
      </select>
      <div class="col col-lg-4">
         <span>Bats:</span>
         <label for="left">Left</label>
         <input type="radio" id="left" value="left">
         <label for="right">Right</label>
         <input type="radio" id="right" value="right">

         <span>Throws:</span>
         <label for="left">Left</label>
         <input type="radio" id="left" value="left">
         <label for="right">Right</label>
         <input type="radio" id="right" value="right">
      </div>
  </div>

  
</form>

