<section class="container">
   <section class="row dashboard-wrapper">
      <section class="col col-lg-2 dashboard-teams dashboard">
         <h3>My Teams</h3>
         <ul class="dashboard-team-group list-group">
            {{#each user.teams}}
            <li class="team list-group-item d-flex justify-content-between align-items-center">
               {{this.team_name}}
               <a href="#" class="badge badge-light">Edit</a>
            </li>
            {{/each}}
         </ul>
      </section>
      <section class="col col-lg-8 dashboard-players  dashboard">
         <h3>My Players</h3>
      </section>
      <section class="col col-lg-2 dashboard-create  dashboard">
         <button>Create a Team</button>
         <button>Create a Player</button>
      </section>
   </section>
   
</section>