<section class="dashboard-wrapper">
   <section calss="dashboard-teams">
      <h2>My Teams</h2>
   </section>
   <section class="dashboard-players">
      <h2>My Players</h2>
   </section>
   <section class="dashboard-create">
      <button>Create a Team</button>
      <button>Create a Player</button>
   </section>
</section>