<section class="container">
   <section class="row dashboard-wrapper">
      <section class="col col-lg-2 dashboard-teams dashboard">
         <h2>My Teams</h2>
      </section>
      <section class="col col-lg-8 dashboard-players  dashboard">
         <h2>My Players</h2>
      </section>
      <section class="col col-lg-2 dashboard-create  dashboard">
         <button>Create a Team</button>
         <button>Create a Player</button>
      </section>
   </section>
   
</section>