<div class="container">
            <div class="row">
                <div class="col-md-12">
                    <img class="img-fluid w-100 fixed" src="/images/baseball field.jpg">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row text-center">
                <div>
                    Keep Your Team All in One Place
                </div>
                <Div>
                    Baseball Organizer helps you manage your baseball team with ease!Just insert the stats and the organizer will do the rest!
                </Div>
            </div>
        </div>
        <div class="container">
            <div class="row text-center">
                <div>
                    Pitch Count Tracker!
                </div>
                <div>
                    Know exactly when your players will be eligable to pitch based on your leauges specific pitch count rules
                </div>
            </div>    
        </div>
        <div class="container">
            <div class="row text-center">
                <div>
                    Team Statistics All in One Place!
                </div>
                <div>
                    A one stop shop for your teams stats throughout the season and at an individual game basis, such as:
                    <li>Batting Average </li>
                    <li>Strike Outs Thrown</li>
                    <li>Position</li>
                    And More!
                </div>
            </div>
        </div>