<div class="form-wrapper">
   <form class="login-form form">
      <div class="login-email">
         <label for="email">Email: </label>
         <input type="email" name="email" id="email">
      </div>
      <div class="login-password">
         <label for="password">Password:</label>
         <input type="password" name="password" id="password">
      </div>
      <button type="submit" class="submit-btn">Log In</button>
      <p>Not a member? <a href="/user/signup">Sign Up Now!</a></p>
   </form>
</div>

<form class="forgot-pass-form">
   <label for="forgot-pass-email">Email: </label>
   <input type="email" id="forgot-pass-email" name="forgot-pass-email">
   <button type="submit">Forgot Password</button>
</form>

<script src="/javascript/login.js"></script>
<script src="/javascript/forgot-password.js"></script>