<div class="form-wrapper">
   <form class="signup-form form">
      {{!-- first name --}}
      <div class="signup-first-mame">
         <input type="text" name="first-name" id="first-name" placeholder="First Name">
      </div>
      {{!-- last name --}}
      <div class="signup-last-name">
         <input type="text" name="last_name" id="last-name" placeholder="Last Name">
      </div>
      {{!-- username --}}
      <div class="signup-username">
         <input type="text" name="username" id="username" placeholder="Username">
      </div>
      {{!-- email --}}
      <div class="signup-email">
         <input type="email" name="email" id="email" placeholder="email">
      </div>
      {{!-- password --}}
      <div class="signup-password">
         <input type="password" name="password" id="password" placeholder="password">
      </div>
      <button type="submit" class="submit-btn">Sign up</button>
      <p>Already a member? <a href="/user/login">Log in instead!</a></p>
   </form>
</div>

<script src="/javascript/signup.js"></script>