<div class="form-wrapper">
   <form class="signup-form form">
      {{!-- first name --}}
      <div class="signup-first-mame">
         <label for="first_name">First Name: </label>
         <input type="text" name="first-name" id="first-name">
      </div>
      {{!-- last name --}}
      <div class="signup-last-name">
         <label for="last-name">Last Name: </label>
         <input type="text" name="last_name" id="last_name">
      </div>
      {{!-- username --}}
      <div class="signup-username">
         <label for="username">Username: </label>
         <input type="text" name="signup-username" id="signup-username">
      </div>
      {{!-- email --}}
      <div class="signup-email">
         <label for="email">Email: </label>
         <input type="text" name="email" id="email">
      </div>
      {{!-- password --}}
      <div class="signup-password">
         <label for="password">Password:</label>
         <input type="text" name="password" id="password">
      </div>
      <button type="submit" class="submit-btn">Sign up</button>
      <p>Already a member? <a href="/user/login">Log in instead!</a></p>
   </form>
</div>

<script src="/javascript/signup.js"></script>