<div class="form-wrapper">
   <form class="update-pass-form form">
      <label for="auth_code">Authentication Code:</label>
      <input type="text" id="auth_code" name="auth_code">
      <label for="password">New Password: </label>
      <input type="password" id="password" name="password">
      <button type="submit">Change Password</button>
   </form>
</div>

