/* body {
    background-position: center;
    background-image: url(../images/baseball\ field.jpg);
    background-attachment: fixed; */

/* make everything border-size and reset all styles */

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing:border-box;
    margin:0;
    padding:0;
}

/* rest all <a> anchore tags */
a {
    text-decoration: none;
    color:inherit;
}
/* reset all <li> list tags */
li{
    list-style-type:none;
    margin:0;
}
/* reset button tag */
button {
    background-color: inherit;
    color:inherit;
    border:none;
}
button:hover{
    color:#0a58ca;
}

/* login form style */
.form-wrapper{
    display: flex;
    justify-content: center;
    height:50vh;
    align-items: center;
}

.form {
    border: 2px dashed #FFFF;
    border-radius: 10px;
    background: #212529;
    color: #FFFFFF;
    padding: 2rem;
    font-size: 25px;
    font-weight: 700;
}

.form #email {
    margin: 1.5rem;
}

.form input {
    border-radius: 10px;
    width: 22rem;
}

.submit-btn {
    background: #FFFFFF;
    color: #212529;
    font-size: 30px;
    padding: 0px 18px;
    border-radius: 1rem;
    display: block;
    font-weight: 700;
    margin: 10px auto;
}

/* dashboard styling */
.dashboard{
    border:2px solid black;
}

.badge{
    background-color: #0d6efd;
}
.badge:hover{
    color: #FFF;
}

.dashboard-player-group{
    display:flex;
    flex-wrap:wrap;
    padding: 1rem 0.5rem;
    gap:25px;
}

.player-card{
    display: flex;
    flex-direction: row wrap;
    gap:25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    padding:10px;
    align-items: center;
    margin-bottom:1rem;
}

.dashboard-title{
    background-color: #212529;
    color:#FFF;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
    padding-top:10px;
    padding-bottom:10px;
}

.dashboard-btn {
    margin:10px;
}

/* create team style */
.team_name_label {
    display: block;
    margin-bottom: 20px;
    font-size: 2rem;
    font-family: inherit;
}

.team_name_input {
    display: block;
    margin: auto;
    padding: 10px;
    width: 23rem;
    font-family: inherit;
    border-bottom: black 10px solid;
}

.team-name-btn {
    margin: auto;
    display: block;
    margin-top: 1rem;
    font-size: 1.5rem;
}

.create-team-players{
    width:90%;
    margin:auto;
}

.edit-team-players .dashboard-player-group{
    display:flex;
    flex-wrap:wrap;
    padding: 1rem 0.5rem;
    gap:13px;
    justify-content: center;
    overflow:scroll;
}

/* Editing the players in edit-team file */
.edit-team-title{
    background-color: #212529;
    color:#FFF;
    text-align:center
}

.edit-team-players-title{
    color:#212529;
    text-align: center;
}

/* single post player stats */

.basic-player-info{
    justify-content: center;
}

.basic-player-info > ul{
    font-weight: 600;
    font-size: 2rem;
}

.section-title{
    text-align:center;
    background-color: #212529;
    color:#FFF;
    font-size:1.5rem;
}

.list-group > li{
    text-align: center;
}

.stat-value{
    background-color: #0a58ca;
    border-radius: 5px;
    padding:2px;
    color:#FFF;
}

/* .stat-group{
    font-size:1.5rem;
    border-radius:10px;
    padding:10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
} */

/* utilities */
.fixed {
    position: sticky;
}

.add-players-btn{
    display:block;
    margin:auto;
}

