
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing:border-box;
    margin:0;
    padding:0;
}

main{
    margin-top:0.5rem;
}

/* rest all <a> anchore tags */
a {
    text-decoration: none;
    color:inherit;
}
/* reset all <li> list tags */
li{
    list-style-type:none;
    margin:0;
}
/* reset button tag */
button {
    background-color: inherit;
    color:inherit;
    border:none;
}
button:hover{
    color:#0a58ca;
}

/* login form style */
.form-wrapper{
    margin-top:10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    border: 2px solid white;
    border-radius: 5px;
    background: #DC3545;
    color: #FFFFFF;
    padding: 2rem;
    font-size: 25px;
    font-weight: 700;
}


.form input {
    border-radius: 10px;
    width: 22rem;
    margin:1rem;
}

.submit-btn {
    background: #FFFFFF;
    color: #212529;
    font-size: 30px;
    padding: 0px 18px;
    border-radius: 1rem;
    display: block;
    font-weight: 700;
    margin: 10px auto;
}

/* dashboard styling */
.dashboard{
    border:2px solid black;
}

.badge{
    background-color: #0d6efd;
}
.badge:hover{
    color: #FFF;
}

.dashboard-player-group{
    display:flex;
    flex-wrap:wrap;
    padding: 1rem 0.5rem;
    gap:25px;
}

.player-card{
    display: flex;
    flex-direction: row wrap;
    gap:25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    padding:10px;
    align-items: center;
    margin-bottom:1rem;
}

.dashboard-title{
    background-color: #212529;
    color:#FFF;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
    padding-top:10px;
    padding-bottom:10px;
}

.create-team-title{
    margin-top:10rem;
}

.dashboard-btn {
    margin: 10px auto 10px auto;
    display: block;
}

.create-player-btn{
    width:10rem;
}

/* create team style */
.team_name_label {
    display: block;
    margin-bottom: 20px;
    font-size: 2rem;
    font-family: inherit;
}

.team_name_input {
    display: block;
    margin: auto;
    padding: 10px;
    width: 23rem;
    font-family: inherit;
    border-bottom: black 10px solid;
}

.team-name-btn {
    margin: auto;
    display: block;
    margin-top: 1rem;
    font-size: 1.5rem;
}

.create-team-players{
    width:90%;
    margin:auto;
}

.edit-team-players .dashboard-player-group{
    display:flex;
    flex-wrap:wrap;
    padding: 1rem 0.5rem;
    gap:13px;
    justify-content: center;
    overflow:scroll;
}

.form-submit-message {
    color: white;
    text-align: center;
    margin: 1.5rem auto 0 auto;
    font-size: 1.5rem;
    background: #DC3545;
    width: 42%;
    border-radius: 2rem;
}

/* Editing the players in edit-team file */
.edit-team-title{
    background-color: #212529;
    color:#FFF;
    text-align:center;
    /* margin-top: 10rem; */
}

.edit-team-players-title{
    color:#212529;
    text-align: center;
}

/* single post player stats */

.basic-player-info{
    justify-content: center;
}

.basic-player-info > ul{
    font-weight: 600;
    font-size: 2rem;
}

.section-title{
    text-align:center;
    background-color: #212529;
    color:#FFF;
    font-size:1.5rem;
}

.list-group > li{
    text-align: center;
}

.stat-value{
    background-color: #0a58ca;
    border-radius: 5px;
    padding:2px;
    color:#FFF;
}

/* .stat-group{
    font-size:1.5rem;
    border-radius:10px;
    padding:10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
} */

/*  a new player page */
.create-form-wrapper{
    margin-top:5rem;
}

.create-player-form div{
    margin:1rem;
}

.create-player-form input{
    padding:10px;
}

.create-player-title{
    background-color: #212529;
    color: #FFF;
    font-size: 2rem;
    text-align: center;
    width:86%;
    margin:10rem auto;
    padding:4px;
}

p.create-instruction {
    border-bottom: 3px solid white;
}

.create-radio-input input {
    width: 2rem;
}

/* EDIT player style */
.edit-player-form div{
    margin:1rem;
}

.edit-player-form input{
    padding:10px;
}
/* modal */
/* The Modal (background) */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    /* background-color: rgb(0,0,0);  */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
.modal-content {
    background-color: #DC3545;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    text-align: center;
    color:#FFFFFF;
  }
  
  /* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* batting roster styles */
.batting-roster-btn{
    width: 12rem;
}

.batting-roster-form{
    width:90%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5rem;
    background-color:#DC3545;
    color: white;
    font-size:2rem;
    font-weight: 500;
    margin:auto;
    margin-top:5rem;
    padding:10px;
    border-radius:5px;
}

.batting-roster-form input[type='radio'] { 
    transform: scale(2); 
    margin-right:10px;
    margin-left:10px;
}

/* utilities */
.fixed {
    position: sticky;
}

.add-players-btn{
    display:block;
    margin:auto;
}

.forgot-pass-instruction{
    text-align: center;
}
